In [9]:
import pandas as pd
p=pd.read_csv('industry.csv')

# p.head(5)
# p.tail(7)

l={ "name":["sumit","aaditya","nabin"],"age":[2,2,2],"height":[5,6,7]}

# s=pd.DataFrame(l)
# print(s)

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(l)
print(df)

      name  age  height
0    sumit    2       5
1  aaditya    2       6
2    nabin    2       7

In [3]:
import pandas as pd
p=pd.read_csv('industry.csv')
p.head(5)
p.tail(7)

                        Industry
0             Accounting/Finance
1   Advertising/Public Relations
2             Aerospace/Aviation
3  Arts/Entertainment/Publishing
4                     Automotive

In [5]:
import pandas as pd
import numpy as np
data= np.array(['w','x','y','z'])
se = pd.Series(data)  #default index
# se = pd.Series(data,index=[300,301,302,303])  #custom indexing
print(se)

300    w
301    x
302    y
303    z
dtype: object

In [10]:
import pandas as pd 
import numpy as np
data= np.array(['w','x','y','z'])
# se = pd.Series(data)  #default index
se = pd.Series(data,index=[300,301,302,303])  #custom indexing
print(se[[300,303]])

300    w
303    z
dtype: object

   mangos  pears
0       3      0
1       2      3
2       0      7
3       1      2

In [7]:
import pandas as pd 
data={
    'mangos': [3,2,0,1],
    'pears':[0,3,7,2]
}
# p= pd.DataFrame(data) #default indexing
p= pd.DataFrame(data,index=['sumit','bidur','subesh','sabin']) 
print(p)

        mangos  pears
sumit        3      0
bidur        2      3
subesh       0      7
sabin        1      2

KeyError: "None of [Index(['sumit', 'bidur'], dtype='object')] are in the [columns]"

In [11]:
import pandas as pd 
data = pd.read_csv("industry.csv")
p=pd.DataFrame(data)
print(p)
p.head(5)
p.tail(5)

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

                    Industry
38             Skilled Labor
39                Technology
40        Telecommunications
41  Transportation/Logistics
42                     Other

In [12]:
import pandas as pd
import numpy as np

In [18]:
dict1={
    "name":["sumit","aaditya","sabin","bidur"],
    "marks":[99,34,56,88],
    "city":["janakpur","janakpur","chitwan","baka"]
    
}
p=pd.DataFrame(dict1)
print(p)
p.to_csv("marks.csv")  # adds data to the csv file if file is not availible it creates a new file

      name  marks      city
0    sumit     99  janakpur
1  aaditya     34  janakpur
2    sabin     56   chitwan
3    bidur     88      baka

In [22]:
p.to_csv("friends.csv",index=False) # it dosent create the index column

In [24]:
p.describe() #describes the numeric column

           marks
count   4.000000
mean   69.250000
std    29.747549
min    34.000000
25%    50.500000
50%    72.000000
75%    90.750000
max    99.000000

In [29]:
p["marks"][0]  # we can search for specific values by column name and the index
p["marks"][0]  =44  #it changes the value of selected element

C:\Users\sumit\AppData\Local\Temp\ipykernel_5256\1481926428.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p["marks"][0]  =44

In [32]:
p["marks"][0]
p.to_csv("friends.csv")

In [33]:
p.index=["first","second","third","forth"]  #changes the index
p

           name  marks      city
first     sumit     44  janakpur
second  aaditya     34  janakpur
third     sabin     56   chitwan
forth     bidur     88      baka