In [4]:
import pandas as pd
p=pd.read_csv('industry.csv')

# p.head(5)
# p.tail(7)

l={ "name":["sumit","aaditya","nabin"],"age":[2,2,2],"height":[5,6,7]}

# s=pd.DataFrame(l)
# print(s)

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(l)
print(df)

      name  age  height
0    sumit    2       5
1  aaditya    2       6
2    nabin    2       7

In [5]:
import pandas as pd
p=pd.read_csv('industry.csv')
p.head(5)
p.tail(7)

                    Industry
36                     Sales
37          Science/Research
38             Skilled Labor
39                Technology
40        Telecommunications
41  Transportation/Logistics
42                     Other

In [6]:
import pandas as pd
import numpy as np
data= np.array(['w','x','y','z'])
se = pd.Series(data)  #default index
# se = pd.Series(data,index=[300,301,302,303])  #custom indexing
print(se)

0    w
1    x
2    y
3    z
dtype: object

In [7]:
import pandas as pd 
import numpy as np
data= np.array(['w','x','y','z'])
# se = pd.Series(data)  #default index
se = pd.Series(data,index=[300,301,302,303])  #custom indexing
print(se[[300,303]])

300    w
303    z
dtype: object

In [8]:
import pandas as pd 
data={
    'mangos': [3,2,0,1],
    'pears':[0,3,7,2]
}
# p= pd.DataFrame(data) #default indexing
p= pd.DataFrame(data,index=['sumit','bidur','subesh','sabin']) 
print(p)

        mangos  pears
sumit        3      0
bidur        2      3
subesh       0      7
sabin        1      2

In [9]:
import pandas as pd 
data = pd.read_csv("industry.csv")
p=pd.DataFrame(data)
print(p)
p.head(5)
p.tail(5)

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

                    Industry
38             Skilled Labor
39                Technology
40        Telecommunications
41  Transportation/Logistics
42                     Other

In [10]:
import pandas as pd
import numpy as np

In [11]:
dict1={
    "name":["sumit","aaditya","sabin","bidur"],
    "marks":[99,34,56,88],
    "city":["janakpur","janakpur","chitwan","baka"]
    
}
p=pd.DataFrame(dict1)
print(p)
p.to_csv("marks.csv")  # adds data to the csv file if file is not availible it creates a new file

      name  marks      city
0    sumit     99  janakpur
1  aaditya     34  janakpur
2    sabin     56   chitwan
3    bidur     88      baka

In [12]:
p.to_csv("friends.csv",index=False) # it dosent create the index column

In [13]:
p.describe() #describes the numeric column

           marks
count   4.000000
mean   69.250000
std    29.747549
min    34.000000
25%    50.500000
50%    72.000000
75%    90.750000
max    99.000000

In [14]:
p["marks"][0]  # we can search for specific values by column name and the index
p["marks"][0]  =44  #it changes the value of selected element

C:\Users\sumit\AppData\Local\Temp\ipykernel_15120\3606267760.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  p["marks"][0]  =44  #it changes the value of selected element
C:\Users\sumit\AppData\Local\Temp\ipykernel_15120\3606267760.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p["marks"][0]  =44  #it changes the value of selected element

In [15]:
p["marks"][0]
p.to_csv("friends.csv")

In [16]:
p.index=["first","second","third","forth"]  #changes the index
p

           name  marks      city
first     sumit     44  janakpur
second  aaditya     34  janakpur
third     sabin     56   chitwan
forth     bidur     88      baka

In [17]:
ser=pd.Series(np.random.rand(55))
ser

0     0.547700
1     0.903938
2     0.945059
3     0.847434
4     0.614236
5     0.737207
6     0.859551
7     0.066462
8     0.615553
9     0.215106
10    0.061391
11    0.813248
12    0.328996
13    0.033456
14    0.083418
15    0.486955
16    0.106219
17    0.131829
18    0.198337
19    0.247968
20    0.656572
21    0.544099
22    0.467098
23    0.017067
24    0.344336
25    0.871193
26    0.612286
27    0.369935
28    0.866135
29    0.153731
30    0.022148
31    0.214668
32    0.510817
33    0.609085
34    0.461667
35    0.356115
36    0.366336
37    0.072384
38    0.009291
39    0.211360
40    0.677935
41    0.440097
42    0.140809
43    0.167538
44    0.610588
45    0.689479
46    0.294552
47    0.317724
48    0.120002
49    0.047266
50    0.990966
51    0.289429
52    0.407233
53    0.016209
54    0.296001
dtype: float64

In [18]:
newdf = pd.DataFrame(np.random.rand(334,5),index=np.arange(334))
newdf

            0         1         2         3         4
0    0.401881  0.230272  0.675797  0.033107  0.691105
1    0.479439  0.896512  0.375560  0.159397  0.010973
2    0.109299  0.146704  0.157082  0.485356  0.379192
3    0.253595  0.283571  0.484882  0.822036  0.530705
4    0.177304  0.697364  0.996733  0.084382  0.042597
..        ...       ...       ...       ...       ...
329  0.126467  0.362416  0.720884  0.298141  0.214759
330  0.567497  0.364495  0.595472  0.701114  0.595337
331  0.129609  0.088497  0.042130  0.633778  0.167684
332  0.196216  0.372496  0.221558  0.901801  0.053172
333  0.971863  0.178033  0.749903  0.064002  0.623912

[334 rows x 5 columns]

In [19]:
newdf[0][0]="sumit"
newdf

C:\Users\sumit\AppData\Local\Temp\ipykernel_15120\2738108232.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[0][0]="sumit"
C:\Users\sumit\AppData\Local\Temp\ipykernel_15120\2738108232.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'sumit' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[0][0]="sumit"

            0         1         2         3         4
0       sumit  0.230272  0.675797  0.033107  0.691105
1    0.479439  0.896512  0.375560  0.159397  0.010973
2    0.109299  0.146704  0.157082  0.485356  0.379192
3    0.253595  0.283571  0.484882  0.822036  0.530705
4    0.177304  0.697364  0.996733  0.084382  0.042597
..        ...       ...       ...       ...       ...
329  0.126467  0.362416  0.720884  0.298141  0.214759
330  0.567497  0.364495  0.595472  0.701114  0.595337
331  0.129609  0.088497  0.042130  0.633778  0.167684
332  0.196216  0.372496  0.221558  0.901801  0.053172
333  0.971863  0.178033  0.749903  0.064002  0.623912

[334 rows x 5 columns]

In [20]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [21]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int32', length=334)

In [22]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [23]:
newdf.to_numpy()

array([['sumit', 0.23027197346614936, 0.6757965514687484,
        0.03310709019759517, 0.6911053109174725],
       [0.4794389175021283, 0.8965115618631544, 0.3755603800557531,
        0.1593969118197609, 0.010972974968028404],
       [0.1092988648737897, 0.14670411496891977, 0.15708215843030626,
        0.4853555043998803, 0.3791919414100987],
       ...,
       [0.1296088148864316, 0.08849748866999041, 0.04212954475263353,
        0.633778402741112, 0.16768439882419273],
       [0.19621579016622837, 0.37249556318787713, 0.2215584365394644,
        0.9018010134529172, 0.0531719622669693],
       [0.9718628291767181, 0.17803250457509512, 0.7499026145737062,
        0.06400160907979446, 0.623912169464617]], dtype=object)

In [24]:
newdf[0][0]=0.09
newdf.to_numpy()

array([[0.09, 0.23027197346614936, 0.6757965514687484,
        0.03310709019759517, 0.6911053109174725],
       [0.4794389175021283, 0.8965115618631544, 0.3755603800557531,
        0.1593969118197609, 0.010972974968028404],
       [0.1092988648737897, 0.14670411496891977, 0.15708215843030626,
        0.4853555043998803, 0.3791919414100987],
       ...,
       [0.1296088148864316, 0.08849748866999041, 0.04212954475263353,
        0.633778402741112, 0.16768439882419273],
       [0.19621579016622837, 0.37249556318787713, 0.2215584365394644,
        0.9018010134529172, 0.0531719622669693],
       [0.9718628291767181, 0.17803250457509512, 0.7499026145737062,
        0.06400160907979446, 0.623912169464617]], dtype=object)

In [25]:
newdf.T  # performs the transpose function

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.09,0.479439,0.109299,0.253595,0.177304,0.855291,0.850241,0.988377,0.193904,0.374077,...,0.626457,0.492467,0.944205,0.691123,0.214589,0.126467,0.567497,0.129609,0.196216,0.971863
1,0.230272,0.896512,0.146704,0.283571,0.697364,0.344303,0.874875,0.75779,0.956015,0.866449,...,0.431897,0.029663,0.922545,0.537325,0.129497,0.362416,0.364495,0.088497,0.372496,0.178033
2,0.675797,0.37556,0.157082,0.484882,0.996733,0.458157,0.570699,0.413643,0.456907,0.742489,...,0.666014,0.709538,0.707703,0.37715,0.068253,0.720884,0.595472,0.04213,0.221558,0.749903
3,0.033107,0.159397,0.485356,0.822036,0.084382,0.222658,0.418715,0.923198,0.302948,0.129582,...,0.998752,0.572323,0.993262,0.049269,0.85759,0.298141,0.701114,0.633778,0.901801,0.064002
4,0.691105,0.010973,0.379192,0.530705,0.042597,0.573325,0.730602,0.207789,0.900383,0.072431,...,0.759248,0.938454,0.465701,0.172523,0.558267,0.214759,0.595337,0.167684,0.053172,0.623912

In [26]:
newdf.sort_index(axis=0,ascending=False)  # sort with index in reverse order
#axis=0 row and axis =1 column

            0         1         2         3         4
333  0.971863  0.178033  0.749903  0.064002  0.623912
332  0.196216  0.372496  0.221558  0.901801  0.053172
331  0.129609  0.088497  0.042130  0.633778  0.167684
330  0.567497  0.364495  0.595472  0.701114  0.595337
329  0.126467  0.362416  0.720884  0.298141  0.214759
..        ...       ...       ...       ...       ...
4    0.177304  0.697364  0.996733  0.084382  0.042597
3    0.253595  0.283571  0.484882  0.822036  0.530705
2    0.109299  0.146704  0.157082  0.485356  0.379192
1    0.479439  0.896512  0.375560  0.159397  0.010973
0        0.09  0.230272  0.675797  0.033107  0.691105

[334 rows x 5 columns]

In [27]:
type(newdf[0])

pandas.core.series.Series

In [28]:
newdf.loc[0,0]=789   # good way to change the data
newdf.head(5)

          0         1         2         3         4
0       789  0.230272  0.675797  0.033107  0.691105
1  0.479439  0.896512  0.375560  0.159397  0.010973
2  0.109299  0.146704  0.157082  0.485356  0.379192
3  0.253595  0.283571  0.484882  0.822036  0.530705
4  0.177304  0.697364  0.996733  0.084382  0.042597

In [29]:
newdf.columns =list("ABCDE")
newdf

            A         B         C         D         E
0         789  0.230272  0.675797  0.033107  0.691105
1    0.479439  0.896512  0.375560  0.159397  0.010973
2    0.109299  0.146704  0.157082  0.485356  0.379192
3    0.253595  0.283571  0.484882  0.822036  0.530705
4    0.177304  0.697364  0.996733  0.084382  0.042597
..        ...       ...       ...       ...       ...
329  0.126467  0.362416  0.720884  0.298141  0.214759
330  0.567497  0.364495  0.595472  0.701114  0.595337
331  0.129609  0.088497  0.042130  0.633778  0.167684
332  0.196216  0.372496  0.221558  0.901801  0.053172
333  0.971863  0.178033  0.749903  0.064002  0.623912

[334 rows x 5 columns]

In [30]:
# newdf=newdf.drop("E",axis=1)  #removes certain elements from the dataframe 
newdf

            A         B         C         D         E
0         789  0.230272  0.675797  0.033107  0.691105
1    0.479439  0.896512  0.375560  0.159397  0.010973
2    0.109299  0.146704  0.157082  0.485356  0.379192
3    0.253595  0.283571  0.484882  0.822036  0.530705
4    0.177304  0.697364  0.996733  0.084382  0.042597
..        ...       ...       ...       ...       ...
329  0.126467  0.362416  0.720884  0.298141  0.214759
330  0.567497  0.364495  0.595472  0.701114  0.595337
331  0.129609  0.088497  0.042130  0.633778  0.167684
332  0.196216  0.372496  0.221558  0.901801  0.053172
333  0.971863  0.178033  0.749903  0.064002  0.623912

[334 rows x 5 columns]

In [31]:
newdf.loc[[1,2,3],['C','D']]  # to get specific elements from the dataframe

          C         D
1  0.375560  0.159397
2  0.157082  0.485356
3  0.484882  0.822036

In [32]:
newdf.loc[(newdf['A']<0.3)]  #only shows the element whose value is less than 0.3 in column A

            A         B         C         D         E
2    0.109299  0.146704  0.157082  0.485356  0.379192
3    0.253595  0.283571  0.484882  0.822036  0.530705
4    0.177304  0.697364  0.996733  0.084382  0.042597
8    0.193904  0.956015  0.456907  0.302948  0.900383
16    0.21359  0.631810  0.310910  0.302409  0.021506
..        ...       ...       ...       ...       ...
323   0.03864  0.678550  0.804550  0.957361  0.756618
328  0.214589  0.129497  0.068253  0.857590  0.558267
329  0.126467  0.362416  0.720884  0.298141  0.214759
331  0.129609  0.088497  0.042130  0.633778  0.167684
332  0.196216  0.372496  0.221558  0.901801  0.053172

[100 rows x 5 columns]

In [33]:
newdf.loc[(newdf['A']<0.3) & (newdf['B']<0.1)]  ## ampersent only work in this case

            A         B         C         D         E
32   0.144106  0.062969  0.449271  0.899166  0.228365
146  0.130715  0.094180  0.825715  0.817558  0.733892
174  0.180485  0.026739  0.130415  0.782104  0.494050
180   0.20265  0.044517  0.885514  0.903407  0.485560
182  0.037809  0.077080  0.249788  0.240434  0.667439
186  0.083938  0.002581  0.798988  0.498459  0.486424
263  0.183455  0.060328  0.369395  0.600215  0.519587
272  0.014674  0.085411  0.046089  0.129750  0.595632
315  0.279384  0.010347  0.274123  0.125554  0.894211
331  0.129609  0.088497  0.042130  0.633778  0.167684

In [34]:
newdf.iloc[0,4]  #returns the value at that location

0.6911053109174725

In [35]:
newdf.iloc[[0,5],[1,2]]   #only goes through the index no mater what the name of index is like coordinates

          B         C
0  0.230272  0.675797
5  0.344303  0.458157

In [36]:
# newdf.drop(['A','B'],axis=1)  #this dosen't change the original dataframe just returns the copy
#newdf.drop(['A','B'],axis=1,inplace=True) # this changes the original dataframe
# newdf=newdf.drop(['A','B'],axis=1)  #this canges the original dataframe
newdf

            A         B         C         D         E
0         789  0.230272  0.675797  0.033107  0.691105
1    0.479439  0.896512  0.375560  0.159397  0.010973
2    0.109299  0.146704  0.157082  0.485356  0.379192
3    0.253595  0.283571  0.484882  0.822036  0.530705
4    0.177304  0.697364  0.996733  0.084382  0.042597
..        ...       ...       ...       ...       ...
329  0.126467  0.362416  0.720884  0.298141  0.214759
330  0.567497  0.364495  0.595472  0.701114  0.595337
331  0.129609  0.088497  0.042130  0.633778  0.167684
332  0.196216  0.372496  0.221558  0.901801  0.053172
333  0.971863  0.178033  0.749903  0.064002  0.623912

[334 rows x 5 columns]

In [37]:
newdf.reset_index() # adds unnessay column
newdf.reset_index(drop=True,inplace=True) 
newdf

            A         B         C         D         E
0         789  0.230272  0.675797  0.033107  0.691105
1    0.479439  0.896512  0.375560  0.159397  0.010973
2    0.109299  0.146704  0.157082  0.485356  0.379192
3    0.253595  0.283571  0.484882  0.822036  0.530705
4    0.177304  0.697364  0.996733  0.084382  0.042597
..        ...       ...       ...       ...       ...
329  0.126467  0.362416  0.720884  0.298141  0.214759
330  0.567497  0.364495  0.595472  0.701114  0.595337
331  0.129609  0.088497  0.042130  0.633778  0.167684
332  0.196216  0.372496  0.221558  0.901801  0.053172
333  0.971863  0.178033  0.749903  0.064002  0.623912

[334 rows x 5 columns]

In [39]:
newdf['B'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
329    False
330    False
331    False
332    False
333    False
Name: B, Length: 334, dtype: bool

In [41]:
newdf.loc[:, ['B']] = 44
newdf

            A     B         C         D         E
0         789  44.0  0.675797  0.033107  0.691105
1    0.479439  44.0  0.375560  0.159397  0.010973
2    0.109299  44.0  0.157082  0.485356  0.379192
3    0.253595  44.0  0.484882  0.822036  0.530705
4    0.177304  44.0  0.996733  0.084382  0.042597
..        ...   ...       ...       ...       ...
329  0.126467  44.0  0.720884  0.298141  0.214759
330  0.567497  44.0  0.595472  0.701114  0.595337
331  0.129609  44.0  0.042130  0.633778  0.167684
332  0.196216  44.0  0.221558  0.901801  0.053172
333  0.971863  44.0  0.749903  0.064002  0.623912

[334 rows x 5 columns]